/*global*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --text: #EDF1F7;
    --red: #C51212;
    --blue: #1846a3;
    --green: #14B02D;
    --yellow: #ffc12b;
}
  
body, button, label, a {
    color: var(--text);
    font: 400 1rem "Mukta", sans-serif;
}
  
a {
    text-decoration: none;
}
  
button:hover {
    cursor: pointer;
}

#app {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
}

/*background*/
#background {
    position: fixed;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
}

#background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px);
}

#background::after {
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

/*main*/
main {
    width: 100%;
    max-width: 800px; 
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
}

.main__info h1 {
    font-size: 22px;
    margin-bottom: 20px;
}

.main__info p {
    font-size: 16px;
}

.main__info form label {
    font-weight: 600; 
    margin-right: 14px; 
    color: var(--white);
}

.main__info form button {
    width: 100%;
    padding: 10px;
    background-color: var(--blue);
    color: white;
    border: 1px solid var(--blue);
    border-radius: 5px; 
    font-size: 14px; 
    font-weight: bold; 
    cursor: pointer; 
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.main__info form button:hover {
    background: transparent;
    border: 1px solid var(--blue);
}